.header {
    width: 1333px;
    height: 80px;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.menu {
    width: 400px;
    height: 80px;
    justify-content: space-around;
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
}

.sub {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: white;

}

a:hover {
    color: rgb(255, 99, 71, 1);
}

.main {
    width: 1333px;
    height: 5000px;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;

}
.container {
    width: 800px;
    height: 600px;
    margin-left: 150px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.iam {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    color: gray;
    font-weight: 700;
}
.front {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    color: white; 
    font-weight: 800;
}
.dot {
    color:rgb(255, 99, 71, 1);
}
.cont {
    color: white;
    background-color:rgb(255, 99, 71, 1) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 120px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
}
.cont:hover {
    color:black
}

.seconfmn{
    width: 1333px;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    flex-direction: column;
    
}
.about {
    color:rgb(255, 99, 71, 1);
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 500;
    width: 1333px;
    height: 120px;
    text-align: center;
}
.fotoand {
    height: 900px;
    width: 1333px;
    display: flex;
    flex-direction: row;
    
}
.foto {
    height: 900px;
    width: 666px;
}
.discript {
    height: 900px;
    width: 666px;
}
.img {
    height: 300px;
    width: 300px;
}